<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 10px;
}

table {
	margin: auto;
}

th, td {
	min-width: 100px;
	text-align: center;
}

.img {
	display: inline-block;
	background-image:
		url(https://upload.wikimedia.org/wikipedia/en/1/19/Softtek_logo.png);
	background-repeat: no-repeat;
	width: 130px;
	margin-left: 30px;
	height: 90px;
	position: absolute;
}

h4 {
	text-decoration: underline;
}

.agreement-info, .disclaimer {
	padding: 5px 35px 0px 35px;
}

.equipment-details {
	margin: auto;
}
</style>
</head>
<body>
	<span class="img"></span>
	<div class="agreement-info">
		<h5 th:if="${assetAssignment.employee==null}">
			<span>Dear Employee/Team</span>,
		</h5>
		<h5 th:if="${assetAssignment.employee!=null}">
			<span>Dear </span> <span th:text="${assetAssignment.employee.name}"></span>,
		</h5>

		<p>This email is with regards to the asset assignment.</p>
		<p>Please note that softtek-owned assets are the legal property of
			Softtek India Private Limited and are provided to employees for
			official use only.</p>
		<p>Do refer to the attachment in this email for details about the
			Terms And Conditions related to the asset.</p>
	</div>
	<div class="equipment-details">
		<h4>Assigned To Details</h4>
		<table>
			<tr>
				<th>Employee Name</th>
				<td th:if="${assetAssignment.employee!=null}"><span
					th:text="${assetAssignment.employee.name}"></span></td>
				<td th:if="${assetAssignment.employee==null}">-</td>
				<th>Employee Id</th>
				<td th:if="${assetAssignment.employee!=null}"><span
					th:text="${assetAssignment.employee.employeeId}"></span></td>
				<td th:if="${assetAssignment.employee==null}">-</td>
			</tr>
			<tr>
				<th>Employee ISID</th>
				<td th:if="${assetAssignment.employee!=null}"><span
					th:text="${assetAssignment.employee.isid}"></span></td>
				<td th:if="${assetAssignment.employee==null}">-</td>
				<th>Employee Email</th>
				<td th:if="${assetAssignment.employee!=null}"><span
					th:text="${assetAssignment.employee.email}"></span></td>
				<td th:if="${assetAssignment.employee==null}">-</td>
			</tr>
			<tr>
				<th>Project</th>
				<td th:if="${assetAssignment.project!=null}"><span
					th:text="${assetAssignment.project.name}"></span></td>
				<td th:if="${assetAssignment.project==null}">-</td>
				<th>Department</th>
				<td th:if="${assetAssignment.department!=null}"><span
					th:text="${assetAssignment.department.name}"></span></td>
				<td th:if="${assetAssignment.department==null}">-</td>
			</tr>
			<tr>
				<th>Area</th>
				<td th:if="${assetAssignment.area!=null}"><span
					th:text="${assetAssignment.area.name}"></span></td>
				<td th:if="${assetAssignment.area==null}">-</td>
				<th>Floor</th>
				<td th:if="${assetAssignment.area!=null}"><span
					th:text="${assetAssignment.area.floor.name}"></span></td>
				<td th:if="${assetAssignment.area==null}">-</td>
			</tr>
		</table>
		<h4>Equipment Details</h4>
		<table>
			<tr>
				<th>Tag Id</th>
				<td th:if="${assetAssignment.asset!=null}"><span
					th:text="${assetAssignment.asset.tagId}"></span></td>
				<td th:if="${assetAssignment.asset==null}">-</td>
				<th>Serial No</th>
				<td th:if="${assetAssignment.asset!=null}"><span
					th:text="${assetAssignment.asset.serialNo}"></span></td>
				<td th:if="${assetAssignment.asset==null}">-</td>
			</tr>
			<tr>
				<th>Category</th>
				<td th:if="${assetAssignment.asset!=null}"><span
					th:text="${assetAssignment.asset.category.name}"></span></td>
				<td th:if="${assetAssignment.asset==null}">-</td>
				<th>Sub Category</th>
				<td th:if="${assetAssignment.asset!=null}"><span
					th:text="${assetAssignment.asset.subCategory.name}"></span></td>
				<td th:if="${assetAssignment.asset==null}">-</td>
			</tr>
			<tr>
				<th>Model</th>
				<td th:if="${assetAssignment.asset!=null && assetAssignment.asset.assetModel!=null}"><span
					th:text="${assetAssignment.asset.assetModel.name}"></span></td>
				<td th:if="${assetAssignment.asset==null || assetAssignment.asset.assetModel==null}">-</td>
				<th>OS</th>
				<td th:if="${assetAssignment.asset!=null && assetAssignment.asset.operatingSystem!=null}"><span
					th:text="${assetAssignment.asset.operatingSystem.name}"></span></td>
				<td th:if="${assetAssignment.asset==null || assetAssignment.asset.operatingSystem==null}">-</td>
			</tr>
			<tr>
				<th>Location</th>
				<td th:if="${assetAssignment!=null}"><span
					th:text="${assetAssignment.location}"></span></td>
				<td th:if="${assetAssignment==null}">-</td>
				<th>Country</th>
				<td th:if="${assetAssignment!=null}"><span
					th:text="${assetAssignment.country}"></span></td>
				<td th:if="${assetAssignment==null}">-</td>
			</tr>
			<tr>
				<th>Additional Details</th>
				<td colspan="3" th:if="${assetAssignment!=null}"><span
					th:text="${assetAssignment.additionalDetails}"></span></td>
				<td colspan="3" th:if="${assetAssignment==null}">-</td>
			</tr>
		</table>
		<h4>Assignment Details</h4>
		<table>
			<tr>
				<th>Assigned By</th>
				<td th:if="${assetAssignment!=null}"><span
					th:text="${assetAssignment.assetAssignedBy}"></span></td>
				<td th:if="${assetAssignment==null}">-</td>
				<th>Assigned Date</th>
				<td th:if="${assetAssignment!=null}"><span
					th:text="${#dates.format(assetAssignment.assignmentDate,'yyyy-MM-dd')}"></span></td>
				<td th:if="${assetAssignment==null}">-</td>
			</tr>
		</table>
	</div>
	<div class="disclaimer">
		<p>
			<i>Please note that this email serves as intimation of the
				equipment assigned to you along with the terms and conditions as
				part of liability associated with it. Please send an email to <a
				href="mailto:dl-it-india@softtek.com">dl-it-india</a> for any
				concerns. If no objection is received within 5 days of receiving
				this notification, its construed as your acceptance.
			</i>
		</p>
	</div>
</body>
</html>